body,
html {
  height: 100%;
  margin: 0;
}

ul {
    list-style-type: none;
  }

/* Container */
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}


/* Sidebar */
.sidebar {
    background-color: #1892d3;
    display: grid;
    grid-column: 1;
    grid-row: 1 / span 2;
    grid-template-rows: 1fr 2fr 1fr 3fr;
    text-align: center;
}

.sidebar ul {
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.sidebar li {
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;

}

.sidebar .sidebar-header p {
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
}



/* Header */
.header {
    display: grid;
    grid-row: 1;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:2fr 1fr;
    gap: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Search */

.search {
    display: grid;
    grid-row: span 1;
    align-items: center;
    padding-left: 5%;
    padding-top: 3%;
    grid-template-columns: 20px 1fr;
    gap: 15px;
}

.search-bar {
    background-color: #e2e8f0;
    border-radius: 20px;
    width: auto;
    height: 20px;
}



#magnify {
    width: 20px;
    height: 20px;
}

/* Introduction */

.introduction {
    display: grid;
    grid-row: span 2;
    grid-column: 1;
    /* background-color: aquamarine; */
    grid-template-columns: 70px 3fr;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    gap: 20px;
}

#profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 5%;
}

.intro-text {
    display: grid;
    grid-template-rows: 20px 30px;
    align-items: center;
    
}

.introduction p {
    color: black;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: bold;
}


/* Buttons */

.button-container {
    /* margin-left: 10%; */
    display: grid;
    grid-row-start: span 2;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-button {
    background-color: #1892d3;
    border-radius: 30%;
    width: 50px;
    padding: 5%;
    height: 30px;
    color: white;
    font-size: 10px;
}

/* Shortcuts */

.shortcut-container {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    grid-template-columns: 1rem 2rem 1fr;
    gap: 10px;
    padding-left: 4%;
}

.mini-icon {
    width: 1rem;
    height: 1rem;
}

#mini-profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}




/* Main Container */
.body-container {
    display: grid;
    background-color: #e2e8f0;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 3fr;
}

/* Projects */
.project-container {
    display: grid;
    /* background-color: lightgreen; */
    grid-column: span 1;
    grid-row: 1 / span 2;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.project-card {
    display: grid;
    background-color: white;
    grid-template-columns: 5px 1fr;
    background-color: #fff;
    border-left: 5px solid #f0b429;
    border-radius: 8%;
    padding: 10px;
    width: 9rem;
    height: 6rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 3fr 1fr;
}

.card-text {
    font-family: 'Roboto',sans-serif;
    grid-column: 1 / span 2;
}

.card-icons {
    grid-row: 2;
    grid-column: 2;
}

/* Announcements */
.announcement-container {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    grid-template-rows: 1rem 1fr;
}

.announcements {
    background-color: white;
    display: grid;
    grid-row: span 2;
    grid-template-rows: repeat(3,1fr);
    padding: 10%;
    margin: 5%;
}

.line {
    background-color: #6b6b6b;
    opacity: 0.25;
    width: 1fr;
    height: 2px;
}

/* Trending */
.trending-container {
    display: grid;
    /* background-color: violet; */
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: 1rem 1fr;
}

.trending {
    background-color: white;
    display: grid;
    grid-row: span 2;
    grid-template-rows: repeat(4, 1fr);
    padding: 10%;
    margin: 5%;
}

.trending-card {
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;

    gap: 5px;
}

.trending-profile {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}